
body {
	margin: 0 auto;
	font-family: 'Lora';
	background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#box{
	display: block ;
}
h1 {
	text-align: center;
	margin: 70px auto;
}

.title-up {
	font-size: 30px;
	color: orange;
}

.title-down {
	color: white;
	font-size: 40px;
}

#nav {
	width: 100%;
	height: 100px;
	margin: 100px auto;
	text-align: center;
	background-size: cover;
	background-color: rgba(47, 23, 15, .9);
}

#nav ul {
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	width: 450px;
	display: flex;
	/*flex布局*/
	flex-direction: row;
	/*定义主轴方向*/
	justify-content: space-around;
	/*两端对齐*/
	margin: 0 auto;
	color: white;
}

#nav ul li {
	list-style: none;
	float: left;
	height: 30px;
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
	padding: 8px;
}

#nav ul li a {
	padding-top: 20px;
	text-decoration: none;
	color: white;
}

#nav ul li a:hover {
	color: orange;
}

.container-main1 {
	box-sizing: border-box;
	height: 520px;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

.container-main1 .intro {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.container-main1 .intro .intro-img {
	display: block;
	width: 900px;
	height: 500px;
	position: absolute;
	border-radius: 5px;
	left: 50%;
	margin-left: -350px;
	border-radius: 5px;
}

.container-main1 .intro .intro-text {
	width: 500px;
	height: 350px;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	z-index: 2;
	box-sizing: border-box;
	border-radius: 5px;
	top: 50px;
	left: 80px;
	color: black;
	font-size: 15px;
	text-align: center;
}

.container-main1 .intro .intro-text .intro-main-text {
	font-size: 15px;
	line-height: 25px;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 20px;
	overflow: hidden;
}

.container-main1 .intro .intro-text .intro-button {
	position: absolute;
	width: 140px;
	height: 60px;
	background-color: #e6a756;
	border-radius: 4px;
	transition: all 0.3s;
	left: 80px;
	top: 320px;
}

.container-main1 .intro .intro-text .intro-button .intro-button-text {
	margin-top: 17px;
	text-align: center;
	font-size: 17px;
	color: white;
	display: block;
}

.intro-text-up {
	font-size: 15px;
}

.intro-text-down {
	font-size: 30px;
	line-height: 30px;
	display: block;
}

#container-main2 {
	width: 100%;
	height: 430px;
	margin: 80px auto;
	padding-top: 50px;
	background-size: cover;
	background-color: rgba(230, 167, 86, .9);
}

.main2-content {
	width: 60%;
	height: 300px;
	border: 5px solid rgba(255, 255, 255, .85);
	margin: 30px auto;
	border-radius: .25rem;
}

.main2-content-text {
	width: 99%;
	height: 290px;
	background-color: rgba(255, 255, 255, .85);
	margin: 5px auto;
	border-radius: .25rem;
	text-align: center;
	overflow: hidden;
}

.promise {
	padding-top: 20px;
	padding-bottom: 3px;
}

.to-you {
	line-height: 5px;
	font-size: 30px;
}

.promise-text {
	font-size: 15px;
	line-height: 25px;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 20px;
}

#footer {
	width: 100%;
	margin-top: 80px;
	height: 120px;
	margin-bottom: -5px;
	text-align: center;
	background-size: cover;
	background-color: rgba(47, 23, 15, .9);
}

.footer-text {
	color: rgba(255, 255, 255, .3);
	padding-top: 50px;
}

#index,
#about,
#product{
	box-sizing: border-box;
	height: 800px;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align:center;
}

#index .intro{
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}

#index .intro  .intro-img{
		display: block;
		position: absolute;
		left: 300px;
		top: 0;
		max-height: 100%;
		border-radius: 5px;
	}

#index .intro .intro-text{
		width: 500px;
		height: 296px;
		background-color: rgba(255, 255, 255, 0.85);
		position: absolute;
		z-index: 2;
		box-sizing: border-box;
		border-radius: 5px;
		top: 50px;
		left: 100px;
		color: black;
		overflow: hidden;
	}

#index .intro .intro-text .intro-btn{
		position: absolute;
		width: 140px;
		height: 60px;
		background-color: #e6a756;
		border-radius: 4px;
		transition: all 0.3s;
		left: 120px;
		top:265px;
		
	}


#index .intro .intro-text .intro-btn a{
	margin-top:15px ;
	text-align: center;
	font-size: 20px;
	color: white;
	display: block;
}

#mobile{
	display: none ;
}
